h1 {
  font-size: 40px;
  color:#00d0ff;
  font-style: italic;
  font-family: 'Tourney', cursive;
  border-style: solid;
  border-width: 6x;
text-decoration: none;
color: #ae00ff;
  }

h2{
   font-size: 40px;
  color:#00d0ff;
  font-style: italic;
  font-family: 'Tourney', cursive;
text-decoration: none;
color: #00d0ff;
  }


body{
background-color: #2a0345;
}
p {
 font-family: 'Asap Condensed', sans-serif;
 line-height: 28px;
 color: #f2ff00;
 font-size: 16px;

}
.button-1{
border-style: solid;

background-color: #00d0ff;
border-width: 2px;
text-decoration: none;
color: #000000;
width: 120px;
border-radius:90px 90px 0px 90px;
display: block;
text-align:center;
margin-top:10px;
}


.button-2{
border-style: solid;

background-color: #00d0ff;
border-width: 2px;
text-decoration: none;
color: #000000;
width: 120px;
border-radius:90px 90px 0px 90px;
display: block;
text-align:center;
margin-top:10px;
}
.button-3{
border-style: solid;

background-color: #00d0ff;
border-width: 2px;
text-decoration: none;
color: #000000;
width: 120px;
border-radius:90px 90px 0px 90px;
display: block;
text-align:center;
margin-top:10px;
}


.top-banner {
height: 400px;
text-align:center;
padding-top 120px;
background-color:black;
background-image: url(https://wallpapercave.com/uwp/uwp2158144.jpeg);
 background-size: cover;
 background-attachment: fixed;
}

.center-body {
max-width: 800px;
margin: 0 auto;
padding: 0 10px;

}

footer {
text-align:center;
padding: 10px 0;
height: 80px;  
}

nav {
  padding: 20px;
  position: fixed;
  width: 100%;
}

.nav-links {
    list-style-type: none;
    width: 200px;
    margin: 0 auto;
    padding: 0;
    text-allign
}

.nav-links li {
      display: inline;
}

.nav-links li a {
   padding-left: 10px;
   padding-right: 5px;
}
